snippet xhead "cpp header" b
/***************************************************************************
 *  `!p snip.rv = snip.fn` - ${1}
 *
 *  Created: `date +"%Y-%m-%d %H:%M:%S"`
 *
 *  Copyright QRS
 ****************************************************************************/

$0
endsnippet
