snippet xhead "makefile header" b
#=================================================================
# date: `date +"%Y-%m-%d %H:%M:%S"`
# title: `!p snip.rv = snip.basename`
#=================================================================

$0
endsnippet
