snippet xhead3 "r file head" b
#!/usr/bin/env Rscript

$0
endsnippet

snippet xggg "r ge line" b
############################################################
### $0
############################################################
endsnippet
