/configure/eclimrc
/configure/bashrc
/.netrwhist
/.VimballRecord
/bundle/powerline/Powerline_default_solarized256_unicode.cache
/bundle/L9
/bundle/syntastic/
/bundle/Vundle.vim
/bundle/unite.vim
/bundle/vimproc.vim
/bundle/ultisnips
/bundle/syntastic
/bundle/nerdtree
/bundle/nerdcommenter
/bundle/tagbar
/bundle/CCTree
/bundle/YouCompleteMe
/bundle/EasyMotion
/bundle/errormarker.vim
/bundle/vimshell.vim
/bundle/grep.vim
/bundle/neocomplete.vim
/bundle/neosnippet-snippets
/bundle/neosnippet
/bundle/vim-snippets
