/configure/eclimrc
/configure/bashrc
/.netrwhist
/.VimballRecord
/bundle/powerline/Powerline_default_solarized256_unicode.cache
/bundle/YouCompleteMe 
/bundle/L9
/bundle/Vundle.vim/
/bundle/syntastic/
/bundle/
/YouCompleteMe'
/bundle/unite.vim'
/bundle/vimproc.vim'
/bundle/ultisnips'
/bundle/syntastic'
/bundle/nerdtree'
/bundle/nerdcommenter'
/bundle/tagbar'
