*~
*.swp
.netrwhist
.VimballRecord
doc/tags
configure/eclimrc
configure/bashrc
bundle/.vundle
bundle/powerline/Powerline_default_solarized256_unicode.cache
bundle/L9
bundle/syntastic/
bundle/Vundle.vim
bundle/unite.vim
bundle/unite-help
bundle/unite-quickfix
bundle/unite-tag
bundle/unite-outline
bundle/vimproc.vim
bundle/ultisnips
bundle/syntastic
bundle/nerdtree
bundle/nerdcommenter
bundle/tagbar
bundle/CCTree
bundle/YouCompleteMe
bundle/EasyMotion
bundle/errormarker.vim
bundle/vimshell.vim
bundle/grep.vim
bundle/supertab
bundle/eclim
bundle/neomru.vim
bundle/neoyank.vim
bundle/neocomplete.vim
bundle/neocomplcache
bundle/neosnippet-snippets
bundle/neosnippet
bundle/vim-snippets
bundle/bufexplorer
bundle/neoinclude.vim
bundle/vim-powerline
bundle/DrawIt
bundle/asyncrun.vim
bundle/vim-markdown
bundle/tagbar-markdown
bundle/tocdown
