KexAlgorithms=+diffie-hellman-group1-sha1
ServerAliveInterval 60
# ControlPath     /tmp/ssh_mux_%h_%p_%r
ControlMaster auto
ControlPersist 6h
GSSAPIAuthentication no

# X11 GUI
## Server
# 1. vi /etc/ssh/sshd_config
#    X11Forwarding yes
#    X11DisplayOffset 10
#    X11UseLocalhost no
# 2. sudo apt install ssh xauth xorg
#    rm ~/.Xauthority
#    or xauth list; xauth remove xxx
# 3. export DISPLAY=localhost:0
# 4. sudo service ssh restart

## Client or use ssh -X  
# 1. vi ~/.ssh/config
#    Host *
#        ForwardAgent yes
#        ForwardX11 yes
#        ForwardX11Trusted yes
#        XAuthLocation /usr/bin/xauth

Host qrsforever.github.com
    HostName                    github.com
    User                        qrsforever
    PreferredAuthentications    publickey        
    IdentityFile                ~/.ssh/github/qrsforever
    # ControlPath                 /tmp/ssh_mux_qrsforever.%h_%p_%r

# new os system apt install openssh-known-hosts
Host qrsforever.git.zhlh6.cn
    HostName                    git.zhlh6.cn
    User                        git
    PreferredAuthentications    publickey        
    IdentityFile                ~/.ssh/github/qrsforever

Host zytforever.github.com
    HostName                    github.com
    User                        zytforever
    PreferredAuthentications    publickey        
    IdentityFile                ~/.ssh/github/zytforever

Host erlangai.github.com
    HostName                    github.com
    User                        erlangai
    PreferredAuthentications    publickey        
    IdentityFile                ~/.ssh/github/erlangai

Host qrsforever.gitee.com
    ForwardAgent no
    HostName                    gitee.com
    User                        qrsforever
    PreferredAuthentications    publickey        
    IdentityFile                ~/.ssh/gitee/qrsforever

Host lidongai.gitee.com
    HostName                    gitee.com
    User                        lidongai
    PreferredAuthentications    publickey        
    IdentityFile                ~/.ssh/gitee/lidongai

Host erlangai.gitee.com
    HostName                    gitee.com
    User                        erlangai
    PreferredAuthentications    publickey        
    IdentityFile                ~/.ssh/gitee/erlangai

Host erlangai
    HostName        101.201.141.130
    User            root
    IdentityFile    ~/.ssh/id_rsa
    ControlPath     /tmp/ssh_mux_%h_%p_%r
    # ForwardAgent yes
    # ForwardX11 yes
    # ForwardX11Trusted yes
    # XAuthLocation /usr/bin/xauth

Host k8-storage
    HostName        82.157.36.183
    User            root
    IdentityFile    ~/.ssh/id_rsa_hzcs
    ControlPath     /tmp/ssh_mux_%h_%p_%r
    StrictHostKeyChecking no
    ForwardAgent yes
    ForwardX11 yes
    ForwardX11Trusted yes
    XAuthLocation /usr/bin/xauth
    # UserKnownHostsFile=/dev/null

Host k8-master
    HostName        82.157.10.200 
    User            root
    IdentityFile    ~/.ssh/id_rsa_hzcs
    ControlPath     /tmp/ssh_mux_%h_%p_%r

Host k12ai
    HostName        101.42.117.119
    User            root
    IdentityFile    ~/.ssh/id_rsa_hzcs
    ControlPath     /tmp/ssh_mux_%h_%p_%r

Host test-sql
    HostName        81.70.133.7
    User            root
    IdentityFile    ~/.ssh/id_rsa_hzcs
    ControlPath     /tmp/ssh_mux_%h_%p_%r

Host factory
    HostName        82.157.19.36
    User            root
    IdentityFile    ~/.ssh/id_rsa_hzcs
    ControlPath     /tmp/ssh_mux_%h_%p_%r

# passwd: Hxxxxxxxai@1xxxxx
Host mysql
    HostName        81.70.134.40
    User            root
    IdentityFile    ~/.ssh/id_rsa_hzcs
    ControlPath     /tmp/ssh_mux_%h_%p_%r

Host p40
    # HostName        192.168.0.131
    HostName        82.157.36.183
    Port            7740
    User            root
    IdentityFile    ~/.ssh/id_rsa_hzcs
    ControlPath     /tmp/ssh_mux_%h_%p_%r
    ForwardAgent yes
    ForwardX11 yes
    ForwardX11Trusted yes
    XAuthLocation /usr/bin/xauth

Host raspberry
    HostName        172.19.77.115
    User            pi
    IdentityFile    ~/.ssh/id_rsa_hzcs
    ControlPath     /tmp/ssh_mux_%h_%p_%r

Host orange
    HostName        172.19.76.253
    User            root
    IdentityFile    ~/.ssh/id_rsa_hzcs
    ControlPath     /tmp/ssh_mux_%h_%p_%r

Host thinkpad
    HostName        172.19.76.138
    User            lidong
    IdentityFile    ~/.ssh/id_rsa
    ControlPath     /tmp/ssh_mux_%h_%p_%r

Host le
    HostName        192.168.1.100
    User            lidong
    IdentityFile    ~/.ssh/id_rsa
    ControlPath     /tmp/ssh_mux_%h_%p_%r
    ForwardX11 yes

Host nano
    HostName        192.168.1.101
    User            nano
    IdentityFile    ~/.ssh/id_rsa_hzcs
    ControlPath     /tmp/ssh_mux_%h_%p_%r
