[user]
    name  = Li Dong
    email = 705723886@qq.com
[core]
    editor = vim
    ui = auto
[push]
    default = simple
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	last = log -1
	logd = log --color -p --full-diff
	logg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	logs = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Cblue %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --no-merges --stat --date=format:'%Y-%m-%d %H:%M:%S'
[credential]
    helper = store
