KexAlgorithms=+diffie-hellman-group1-sha1

Host qrsforever.github.com
    HostName         github.com
    PreferredAuthentications   publickey        
    User             git
    IdentityFile     xxx/.ssh/id_rsa_xxx

Host xxx.xxx.xxx.xxx
    ForwardX11 yes
    ForwardX11Trusted yes
