KexAlgorithms=+diffie-hellman-group1-sha1
ServerAliveInterval 60
ControlMaster auto
ControlPath /tmp/ssh_mux_%h_%p_%r
ControlPersist 6h
GSSAPIAuthentication no

XAuthLocation /usr/bin/xauth

# using gui through ssh, eg: gvim
# xhost +
# 1. touch ~/.Xauthority
# only this one key is needed for X11 over SSH 
# 2. xauth generate :0 . trusted 
# generate our own key, xauth requires 128 bit hex encoding
# 3. (not need) xauth add ${HOST}:0 . $(xxd -l 16 -p /dev/urandom)
# 4. xauth list
# Host *
#     ForwardAgent yes
#     ForwardX11 yes
#     ForwardX11Trusted yes
  
# cpu
Host alpha
    HostName        117.51.137.172
    User            dc2-user

# gpu
Host beta
    HostName        116.85.47.250
    User            lidong
    IdentityFile    ~/.ssh/id_rsa_hzcs.pub
    ForwardAgent yes
    ForwardX11 yes
    ForwardX11Trusted yes

Host sigma
    HostName        116.85.54.39
    User            lidong
    IdentityFile    ~/.ssh/id_rsa_hzcs.pub
    ForwardAgent yes
    ForwardX11 yes
    ForwardX11Trusted yes

# test
Host gamma
    HostName        117.51.156.111
    User            lidong
    IdentityFile    ~/.ssh/id_rsa_hzcs.pub
    ForwardAgent yes
    ForwardX11 yes
    ForwardX11Trusted yes

Host eta
    HostName        116.85.5.40
    User            lidong
    IdentityFile    ~/.ssh/id_rsa_hzcs.pub
    ForwardAgent yes
    ForwardX11 yes
    ForwardX11Trusted yes

# wiki
Host theta
    HostName        117.51.140.214
    User            dc2-user

# mount: sshfs cauchy:work/code code

# ssh-add ~/.ssh/id_rsa_git
Host github.com
    HostName         ssh.github.com
    PreferredAuthentications   publickey        
    IdentityFile     ~/.ssh/id_rsa_git.pub

Host gitee.com
    HostName         gitee.com
    PreferredAuthentications   publickey        
    IdentityFile     ~/.ssh/id_rsa_gitee.pub
