[user]
    name  = Li Dong
    email = erlangai@qq.com
[core]
    editor = vim
    ui = auto
    excludesfile = ~/.gitignore
[push]
    default = simple
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
    sts = status -s
    info = config --list
	last = log -1
	logd = log --color -p --full-diff
	logg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	logs = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Cblue %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --no-merges --stat --date=format:'%Y-%m-%d %H:%M:%S'
	root = rev-parse --show-toplevel
; [credential]
;     helper = store
[http]
    postBuffer = 20000000
    sslVerify = false

; [url "https://hub.fgit.cf"]
; [url "https://github.moeyy.xyz/https://github.com"]
[url "https://githubfast.com"]
    insteadOf = https://github.com

[url "git@ssh.fastgit.org"]
    insteadof=git@github.com:
 
[url "git@qrsforever.git.zhlh6.cn:qrsforever"]
    insteadOf = git@github.com:qrsforever
 
[url "git@qrsforever.gitee.com:qrsforever"]
    insteadOf = git@gitee.com:qrsforever

[url "git@lidongai.gitee.com:lidongai"]
    insteadOf = git@gitee.com:lidongai

[url "git@lidongai.gitee.com:hzcsai_com"]
    insteadOf = git@gitee.com:hzcsai_com

[url "git@erlangai.gitee.com:erlangai"]
    insteadOf = git@gitee.com:erlangai
[safe]
	directory = *
[pull]
	rebase = false
